* {
  padding: 0;
  margin: 0
}

a {
  color: #009387
}

a:visited {
  color: #930087
}

body {
  margin: 1rem;
  font-family: sans-serif
}

main {
  max-width: 28rem;
  margin: 0 auto;
  position: relative
}

#controls {
  display: flex;
  margin-top: 2rem
}

button {
  flex-grow: 1;
  height: 2.5rem;
  min-width: 2rem;
  border: none;
  border-radius: .15rem;
  background: #00e5d2;
  margin-left: 2px;
  box-shadow: inset 0 -.15rem 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center
}

button:focus,
button:hover {
  outline: none;
  background: #00ffe9
}

button::-moz-focus-inner {
  border: 0
}

button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2);
  line-height: 3rem
}

button:disabled {
  pointer-events: none;
  background: #d3d3d3
}

button:first-child {
  margin-left: 0
}

button svg {
  transform: translateY(-.05rem);
  fill: #000;
  width: 1.4rem
}

button:active svg {
  transform: translateY(0)
}

button:disabled svg {
  fill: #9a9a9a
}

button text {
  fill: #00e5d2
}

button:focus text,
button:hover text {
  fill: #00ffe9
}

button:disabled text {
  fill: #d3d3d3
}

#formats,
#mode {
  margin-top: .5rem;
  font-size: 80%
}

#mode {
  float: right
}

#support {
  display: none;
  margin-top: 2rem;
  color: red;
  font-weight: 700
}

#list {
  margin-top: 1.6rem
}

audio {
  display: block;
  width: 100%;
  margin-top: .2rem
}

li {
  list-style: none;
  margin-bottom: 1rem
}