<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      {{ partial "logo.html" . }}
    </div>
    <div class="menu-trigger">menu</div>
  </div>
  {{ if len $.Site.Menus }}
    {{ partial "menu.html" . }}
  {{ end }}
  <section>
    {{ range .Site.Taxonomies.tags }}
    {{ $fs := (div .Count 100) }}
    {{ $fs := (add $fs 1)}}
    {{ $fs := (mul 100 $fs)}}
    <a href="{{ .Page.Permalink }}" style="font-size: {{ $fs }}%">{{ .Page.Title }}</a>
    {{ end }}
    </section>
</header>
